<h2><%= t 'menu.my_posts' %></h2>
<hr />

<% if @posts.length == 0 %>
  <h3 class='text-center'><%= t 'no_post' %></h3>
<% else %>
  <%= render partial: 'posts/posts', locals: { page: 'my_posts' } %>
<% end %>
